body {
    padding-top: 5%;
}

.container-fluid h1 {
    margin: 30px 0 15px 0;
    font-size: 30px;
}

.container-fluid h2 {
    font-size: 20px;
}

.container-fluid h3 {
    font-size: 16px;
}

.container-fluid p {
    margin-bottom: 15px;
}

#guide-nav > .nav-list {
    padding: 0;
}

div.highlight {
    margin: 20px 0;
}




